<h1>Welcome to Library!</h1>

<h3>See our available books:</h3>
<ul>
  <li><a href="/books">Click here!</a></li>
</ul>

<h3>See our patrons:</h3>
<ul>
  <li><a href="/patrons">Click here!</a></li>
</ul>
